*{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

#topo{
	background-color: #EDEFF2;
}

.container{
	width: 70%;
	margin: auto;
}

#menu img{
	margin-top: 60px;
	margin-bottom: 60px;
}

#menu p{
	float: right;
	font-family: 'Quicksand', sans-serif;
	font-size: 30px;
	color: #727376;
	margin-top: 83px;
	margin-bottom: 85px;
	color: #07A8E1;
}

#faixaMenu{
	height: 20px;
	background-color: #07A8E1;
}

#conteudo{
	color: #727376;
	margin-top: 50px;
}

#conteudo h1{
	font-size: 20px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

#conteudo p{
	margin-bottom: 50px;
	font-weight: 600;
}

.linha {
	height: 3px;
	background-color: #EDEFF2;
}

#parceiros{
	text-align: center;
}

#parceiros img{
	vertical-align: middle;
	width: 200px;
	margin: 30px;
	opacity: 0.3;
    cursor: pointer;
}		

#parceiros h1 {
	font-size: 20px;
	color: #727376;
	width: 150px;
	background-color: #fff;
	margin: auto;
	margin-top: -15px;
}

#rodape{
	margin-top: 50px;
	background-color: #07A8E1;
	padding-top: 50px;
	padding-bottom: 150px;
}

#contatos{
	display: inline-block;
	width: 33%;
	text-align: center;
}

#contatos h3{
	color: #fff;
	font-weight: 400;
	
}









